<row centered>
    <column cols="6" class="header">
    <h1 id="title">Welcome to the Jungle of Lyrics</h1>
</column>

</row>
<row centered>
    <column cols="6" class="body">
        {{outlet}}
    </column>
</row>

<row centered>
    <column cols="6" class="footer">
        <footer>
            {{#link-to 'index'}}Home{{/link-to}}
            {{#link-to 'artists'}}Pick Favorite Artists{{/link-to}}
            {{#link-to 'lyrics'}}See Lyrics{{/link-to}}
        </footer>
    </column>
</row>
